<div id="common">
  <header id="first">
      Generate QR Code For Batch: 
  </header>
  <div id="second">
    <label>QR Size</label>
    <select>
      <option>100 * 50mm</option>
      <option>2cm * 1cm</option>
      <option>4.5cm * 3.5cm</option>
      <option>80 * 60mm</option>
    </select>

    <label>No Of Print</label>
    <input type="text"/>

    <label>Print Type</label>
    <select>
      <option>Single</option>
      <option>Multiple</option>
    </select>

    <label>Packing Type</label>
    <input type="text">
  </div>

  <div>
    <button>Print</button>
  </div>
</div>