*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: aliceblue;
    height: 100vh;
}
#second{
    display:grid;
    grid-template-columns: 180px 1fr;
    border: 2px solid gray;
    padding: 20px;
    
}

#first{
    background-color:lightskyblue;
    text-align: center;
}

#common{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cccccc;
    box-sizing: border-box;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}