<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="users">
        <h2>User Login</h2>
        <label>User Name</label>
        <input type="text" [(ngModel)]="username" placeholder="Enter Username">

        <label>Password</label>
        <input type="password" [(ngModel)]="password" placeholder="Enter Password">

        <button (click)="login()">Submit</button>
    </div>
</body>
</html>