footer{
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    height:25px;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    
}

footer h6 {
    margin: 0;
}