/* .container{
    display: flex;
    height: calc(100vh - 50px);
}

.content{
    flex: 1;
    padding: 0;
    overflow: auto;
} */

.container {
    display: flex;
    margin-top: 50px;      /* Header height */
    margin-bottom: 40px;   /* Footer height */
}

.content {
    flex: 1;
    margin-left: 250px;    /* Sidebar width */
    padding: 20px;
    overflow: auto;
}